.carousel {
  overflow-x: auto;
  white-space: nowrap;
  padding: 2rem 0;
  text-overflow: ellipsis;
}

.carousel-track {
  display: flex;
}

.carousel-card {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 1rem;
}

.carousel-card:last-child {
  margin-right: 0;
}

.card-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
